@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Layout.cshtml";   
}

    <h2>Formulário de produtos</h2>

        <ul>
        @foreach (var erro in Model.Erros)
        {
            <li class="erro">@erro</li>
        }
        </ul>

    <form action="/produto/novo" method="post">
        <p>
            <label>Descrição:</label>
            <input type="text" name="Descricao" value="@Model.Produto.Descricao">
        </p>
        <p>
            <label>Preço unitário:</label>
            <input type="text" name="Preco" value="@Convert.ToDecimal(Model.Produto.Preco).ToString("N2")">
        </p>
        <input type="submit" value="Gravar">
    </form>