<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Catalogo</title>
    <link rel="stylesheet" type="text/css" href="/assets/estilo.css">
</head>
<body>
    @if (Url.RenderContext.Context.CurrentUser != null)
    {
        @Url.RenderContext.Context.CurrentUser.UserName 
        @<a href="/sair">sair</a>
    }

    @RenderBody()
</body>
</html>
