<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Catalogo</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/estilo.css">
</head>
<body>
    <div class="container">
        <h1>Catalogo de produtos</h1>

        
    @if (Url.RenderContext.Context.CurrentUser != null)
    {
        <p>
            <a href="/sair">sair</a>
        </p>
    }
        

    @RenderBody()
    </div>
</body>
</html>
