@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Layout.cshtml";   
}

    <h2>Listando produtos</h2>
    <p><a href="/produto/novo" class="btn btn-primary">Adicionar produto</a></p>

    <table class="table table-bordered">
        <tr>
            <th>Produto</th>
            <th>Preço</th>
        </tr>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Descricao</td>
                <td>@Convert.ToDecimal(produto.Preco).ToString("N2")</td>
            </tr>
        }
    </table>
